Source: netrunner-apt-config
Section: admin
Priority: optional
Maintainer: Phoenix <phoenix@netrunner-os.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: netrunner-apt-config
Architecture: all
Description: Apt configuration for the Netrunner Enigma-1306 release.
  This package contains the apt configuration files for Netrunner Enigma-1306 release.
